@page
@model WEB.Pages.Admin.ManagerFinanciTransaction.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>FinancialTransaction</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FinancialTransaction.UserId" class="control-label"></label>
                <select asp-for="FinancialTransaction.UserId" class ="form-control" asp-items="ViewBag.UserId"></select>
            </div>
            <div class="form-group">
                <label asp-for="FinancialTransaction.TransactionType" class="control-label"></label>
                <input asp-for="FinancialTransaction.TransactionType" class="form-control" />
                <span asp-validation-for="FinancialTransaction.TransactionType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FinancialTransaction.Amount" class="control-label"></label>
                <input asp-for="FinancialTransaction.Amount" class="form-control" />
                <span asp-validation-for="FinancialTransaction.Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FinancialTransaction.TransactionDate" class="control-label"></label>
                <input asp-for="FinancialTransaction.TransactionDate" class="form-control" />
                <span asp-validation-for="FinancialTransaction.TransactionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FinancialTransaction.Status" class="control-label"></label>
                <input asp-for="FinancialTransaction.Status" class="form-control" />
                <span asp-validation-for="FinancialTransaction.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FinancialTransaction.Description" class="control-label"></label>
                <input asp-for="FinancialTransaction.Description" class="form-control" />
                <span asp-validation-for="FinancialTransaction.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
